.ecolor_A1 {
    color: '#B8B88F';
}
.ecolor_A2 {
    color: '#B8A38F';
}
.ecolor_A3 {
    color: '#B88F8F';
}
.ecolor_A4 {
    color: '#B88FA3';
}
.ecolor_A5 {
    color: '#B88FB8';
}
.ecolor_A6 {
    color: '#A38FB8';
}
.ecolor_A7 {
    color: '#8F8FB8';
}
.ecolor_A8 {
    color: '#8FA3B8';
}
.ecolor_A9 {
    color: '#8FB8B8';
}
.ecolor_A10 {
    color: '#8FB8A3';
}
.ecolor_A11 {
    color: '#8FB88F';
}
.ecolor_A12 {
    color: '#A3B88F';
}
.ecolor_B1 {
    color: '#8F8F59';
}
.ecolor_B2 {
    color: '#8F7D59';
}
.ecolor_B3 {
    color: '#8F5959';
}
.ecolor_B4 {
    color: '#8F597D';
}
.ecolor_B5 {
    color: '#8F598F';
}
.ecolor_B6 {
    color: '#7D598F';
}
.ecolor_B7 {
    color: '#59598F';
}
.ecolor_B8 {
    color: '#597D8F';
}
.ecolor_B9 {
    color: '#598F8F';
}
.ecolor_B10 {
    color: '#598F7D';
}
.ecolor_B11 {
    color: '#598F59';
}
.ecolor_B12 {
    color: '#7D8F59';
}
.ecolor_C1 {
    color: '#595926';
}
.ecolor_C2 {
    color: '#594026';
}
.ecolor_C3 {
    color: '#592626';
}
.ecolor_C4 {
    color: '#592640';
}
.ecolor_C5 {
    color: '#592659';
}
.ecolor_C6 {
    color: '#402659';
}
.ecolor_C7 {
    color: '#262659';
}
.ecolor_C8 {
    color: '#264059';
}
.ecolor_C9 {
    color: '#265959';
}
.ecolor_C10 {
    color: '#265940';
}
.ecolor_C11 {
    color: '#265926';
}
.ecolor_C12 {
    color: '#405926';
}
